@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base styles */
body {
  @apply bg-gray-50 text-gray-800 font-sans antialiased;
}
a {
  @apply text-emerald-600 hover:text-emerald-700 transition-colors;
}
